/* td {
  height: 30px;
  border: 1px solid blue;
  text-align: center;
}

.pizzaPrice {
  width: 90px;
}
.base {
  width: 170px;
}

input {
  width: 30px;
  margin-left: -10px;
} */

table {
  text-align: left;
  margin-left: 16px;
}

.pizzaPrice {
  padding-left: 20px;
}

.priceTh {
  padding-left: 20px;
}
